<!--Mitkumar Malavia, 301214375, 05/10/2021-->
<div class="jumbotron bg-dark pb-1">
    <h2 class="display-4 text-white text-center" style="font-weight:350;">Projects</h2>
</div>
<!--Project Page template consisting of three containers with image and text-->
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-4 col-md-4 col-12">
            <div class="card" style="height:27rem;">
                <img class="card-img-top" height="230px" src="/Assets/images/p1bg.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h5 class="card-title">Opinion Mining</h5>
                    <p class="card-text">Web application for sentiment analysis of textual data from various Social Media Platforms based on Machine Learning. I was the group leader and it was my final year project for my BE.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card" style=" height:27rem;">
                <img class="card-img-top" height="230px" src="/Assets/images/p2bg.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h5 class="card-title">Car Rental system</h5>
                    <p class="card-text">Web portal for renting cars and other types of vehicles. I managed database configuration for the website as a group member.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card " style=" height:27rem;">
                <img class="card-img-top" height="230px" src="/Assets/images/p3bg.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h5 class="card-title">Car Tracking System</h5>
                    <p class="card-text">IOT based anti-theft car tracking system for securtiy. It was a part of Design Enginnering subject in 6th semester of BE. I had the responsibilty of coding raspberry module.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<body background="Assets/images/projectbg.jpg"></body>