<!--Mitkumar Malavia, 301214375, 05/10/2021-->
<!--Static Footer for every page-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid text-center">
        <h5 class="text-white">&copy; Mitkumar Malavia</h5>
    </div>
</nav>