<!--Mitkumar Malavia, 301214375, 29/10/2021-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!--Logo button that redirects to home page when clicked-->
        <a class="navbar-brand" href="/home">
            <img src="/Assets/images/logo.png" alt="Mitkumar" width="105" height="27" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <%console.log(title)%>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!--Navigation bar buttons for each Page-->
                    <li class="nav-item">
                        <% if (title==='Home' ){ %>
                            <a class="nav-link active" href="/home"><i class="fas fa-home fa-lg"></i> Home</a>
                            <% } else { %>
                                <a class="nav-link" href="/home"><i class="fas fa-home fa-lg"></i> Home</a>
                                <% } %>

                    </li>

                    <li class="nav-item">
                        <% if (title==='About' ){ %>
                            <a class="nav-link active" href="/about"><i class="fas fa-info fa-lg"></i> About</a>
                            <% } else { %>
                                <a class="nav-link" href="/about"><i class="fas fa-info fa-lg"></i> About</a>
                                <% } %>

                    </li>

                    <li class="nav-item">
                        <% if (title==='Projects' ){ %>
                            <a class="nav-link active" href="/project"><i class="fas fa-cog fa-lg"></i> Projects</a>
                            <% } else { %>
                                <a class="nav-link" href="/project"><i class="fas fa-cog fa-lg"></i> Projects</a>
                                <% } %>

                    </li>

                    <li class="nav-item">
                        <% if (title==='Services' ){ %>
                            <a class="nav-link active" href="/services"><i class="fas fa-map fa-lg"></i> Services</a>
                            <% } else { %>
                                <a class="nav-link" href="/services"><i class="fas fa-map fa-lg"></i> Services</a>
                                <% } %>

                    </li>



                    <li class="nav-item">
                        <% if (title==='Contact List' ){ %>
                            <a class="nav-link active" href="/contactList"><i class="fas fa-users"></i> Clients</a>
                            <% } else { %>
                                <a class="nav-link" href="/contactList"><i class="fas fa-users"></i> Clients</a>
                                <% } %>

                    </li>

                    <li class="nav-item">
                        <% if (title==='Contact' ){ %>
                            <a class="nav-link active" href="/contact"><i class="fas fa-phone fa-lg"></i> Contact</a>
                            <% } else { %>
                                <a class="nav-link" href="/contact"><i class="fas fa-phone fa-lg"></i> Contact</a>
                                <% } %>
                    </li>

                    <% if(typeof displayName == 'string' && displayName) { %>
                        <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome,
                            <%= displayName %>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">
                                <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a>
                        </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a href="/login" class="nav-link">
                                    <i class="fas fa-lg fa-sign-in-alt"></i> Login</a>
                            </li>
                            <% } %>

                </ul>
            </div>
</nav>