<!--Mitkumar Malavia, 301214375, 05/10/2021-->
<!--Contact Page template consisting of 2 containers. 1st Contains personal Imforamtion and 2nd contains a form that wen filled properly redirects to the home page.-->
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6 col-md-6 col-12">
            <div class="card bg-dark text-light" style=" height:27rem; ">
                <div class="card-body">
                    <h1 class="card-title"> Email </h1>
                    <h2 class="card-text"> mitm800@gmail.com </h2>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>

                    <h1 class="card-title"> Phone </h1>
                    <h2 class="card-text"> 6478771579 </h2>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>

                    <h1 class="card-title"> Student ID </h1>
                    <h2 class="card-text"> 301214375 </h2>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
            <div class="card bg-dark text-light" style="height:27rem;">
                <div class="Form-right">
                    <h1>Contact Me</h1>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <form action="/home">
                        <input type="text" placeholder="First Name"><br><br>
                        <input type="text" placeholder="Last Name"> <br><br>
                        <input type="email" placeholder="Enter Your Email"><br><br>
                        <input type="number" placeholder="Enter Mobile Number"><br><br>
                        <button>Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<body background="Assets/images/cbg.jpg"></body>