<!--Mitkumar Malavia, 301214375, 29/10/2021-->
<!--Home page cosisit of a welcome message, mission statement and a button that redirects to about page.-->
<header>
    <div class="main-text">
        <p></p>
        <h1 style="color:aliceblue;">Welcome!!!</h1>
        <p></p>
        <h2 style="color:aliceblue;"> The perfect place to make transition from real to reel world. </h2>
    </div>
</header>

<body background="Assets/images/bg.png">
    <p class="lead">
        <a class="btn btn-dark" href="/about" role="button">About me</a>
    </p>
</body>