<!--Mitkumar Malavia, 301214375, 29/10/2021-->
<div class="jumbotron bg-dark pb-1">
    <h2 class="display-4 text-white text-center" style="font-weight:350;">Services</h2>
</div>
<!--Service Page template consisting of three containers with image and text-->
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-4 col-md-4 col-12">
            <div class="card" style="height:27rem;">
                <img class="card-img-top" height="230px" src="/Assets/images/s1.jpg" alt="Card image">
                <div class="card-body text-center">
                    <h5 class="card-title">ML and AI Based project</h5>
                    <p class="card-text">I make simple AI based project for analysis and pre-proecessing of datasets.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card" style=" height:27rem;">
                <img class="card-img-top" height="230px" src="/Assets/images/s2.png" alt="Card image">
                <div class="card-body text-center">
                    <h5 class="card-title">Flutter Application</h5>
                    <p class="card-text">Flutter based android and iOS application for commercial and personal use.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card " style=" height:27rem;">
                <img class="card-img-top" height="230px" src="/Assets/images/s3.png" alt="Card image">
                <div class="card-body text-center">
                    <h5 class="card-title">Game Development(Godot)</h5>
                    <p class="card-text">Games built using Godot game engine for almost all the gamning platforms supported by Godot.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<body background="Assets/images/sbg.jpg"></body>